.button {
  border-radius: 4px;
  display: inline-block;
  margin: 30px 0;
  padding: 10px 20px;
  transform: scale(1);

  &:hover,
  &:focus,
  &:active {
    transform: scale(0.98);
    transition: transform 0.5s;
  }

  &--black {
    background: #222;
    color: #fff;
  }

  &--line {
    border : 2px solid #222;
    color: #222;
  }
}

.button + button {
  margin-left: 20px;
}

