.button {
  border-radius: 4px;
  display: inline-block;
  padding: 10px 20px;
  transform: scale(1);

  @include on-event {
    transform: scale(0.98);
    transition: transform 0.5s;
  }

  &--black {
    background: $font-color-main;
    color: $font-color-white;
  }

  &--line {
    border : 2px solid $font-color-main;
    color: $font-color-main;
  }
}

.button + button {
  margin-left: 20px;
}

