.button {
  background: #222;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  padding: 10px 20px;

  &:hover,
  &:focus {
    background: #fff;
    color: #222;
  }
}

.button + button {
  margin-left: 20px;
}

