body {
  background: #ffcc1f;
  color: #222;
  display: flex;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  height: 100vh;
}

a {
  color: #222;
  text-decoration: none;

  &:hover,
  &:focus {
    color: #fff;
  }
}

ul {
  list-style-type: none;
}


#root {
  margin: auto;
  text-align: center;
}